@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
   box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
    color: #fff; 


}
.container{
    background-color:hsl(244, 38%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    max-width: 1400px;
}
img{
    height: 545px;
    width: 636px;
    margin-bottom: -4px;
}
.info{
    display: flex;
    
}
.items.templates {
    margin-right: 85px;
    margin-left: 85px;
}
.items{
    font-size: 26px;

}
.div1 {
margin-left: 50px;
margin-right: 50px;
padding: 30px;
}
h1{
    font-size: 2.5rem;
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
}
 .insight-color{
    color:hsla(0, 0%, 100%, 0.6);

}
p{
    font-size: 30px;
    text-align: left;
    color:  hsla(0, 0%, 100%, 0.75);
}
/* mobile responsiveness */
@media(max-width:768px){
    .container{
        flex-direction: column;
    }
    body{
        background-color: #fff;
    }
    
}